{
    "plugins": ["prettier", "sonarjs", "sonar", "react"],
    "extends": [
        "react-app",
        "prettier",
        "plugin:sonarjs/recommended",
        "plugin:sonar/recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "object-curly-spacing": ["warn", "always"],
        "no-redundant-roles": "off",
        "comma-dangle": ["error", "never"],
        "no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "args": "none"
            }
        ],
        "prefer-const": "error",
        "prefer-template": "error",
        "prettier/prettier": "error",
        "react-hooks/exhaustive-deps": "off",
        "react/prop-types": "off",
        "sonarjs/no-duplicate-string": "off",
        "sonarjs/no-duplicated-branches": "off",
        "sonarjs/no-collapsible-if": "off",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error"
    }
}
