.data-container {
    flex-direction: color;

    & > div {
        flex: 30%;
        margin: 0 10px;
        .header-title {
            padding: 15px;
            border-bottom: 2px solid var(--primary-color);
        }
    }
    .firstRow,
    .secondRow {
        display: flex;
        justify-content: space-between;
    }

    .announcement,
    .events,
    .memories,
    .newMembers,
    .complaint {
        padding: 15px 0;
    }
    .announcement,
    .complaint {
        .list {
            max-height: 300px;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 0 !important;
            }
        }

        .annoucement-card,
        .complain-card {
            margin: 10px 0 !important;
        }
    }
}
