.announcement-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 15px;
    .annoucement-card {
        width: 32%;
        max-height: 250px;
        margin: 0px 15px 10px 0px;
        @media (max-width: 768px) {
            width: 100%;
            margin: 10px;
        }
    }
}
