.annocement-modal-content {
    padding: 15px;
    .action-btn {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 25px;
    }

    .description-input,
    .title-input {
        .MuiFormControl-root {
            width: 100%;
            margin: 10px 0;
        }
    }

    .view-only-description {
        padding: 15px;
        max-height: 400px;
        overflow: auto;
    }

    .view-only-title {
        padding: 0 15px;
    }
}
