.headerWrap {
    .societyWrap {
        display: flex;
        justify-content: center;
        min-height: 162px;
        background-color: var(--background-color);
        .name {
            background: var(--primary-color);
            padding: 7px 17px 17px 17px;
            font-family: "Righteous", cursive;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 135.94%;
            color: var(--font-white);
            border-radius: 0px 0px 20px 20px;
            height: fit-content;
        }
    }
    .menuWrap {
        background: #0000ff00;
        display: flex;
        justify-content: center;
        margin-top: -53px;
        a {
            text-decoration: none;
            &.active,
            &:hover {
                .singleMenu {
                    .iconWrap {
                        svg {
                            path {
                                fill: var(--primary-color);
                            }
                        }
                    }
                    .name {
                        color: var(--primary-color);
                    }
                }
            }
        }
        .singleMenu {
            display: block;
            text-align: center;
            .iconWrap {
                background: var(--body-background-color);
                padding: 10px;
                border-radius: 15px;
                display: inline-block;
                margin: 0px 40px;
                svg {
                    height: 50px;
                    width: 50px;
                    path {
                        fill: var(--primary-font-color);
                    }
                }
            }
            .name {
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                color: var(--primary-font-color);
            }
        }
    }
}
