.annoucement-card {
    .cardHeaderWrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .MuiCardHeader-title {
        color: var(--secondary-font-color);
        font-size: 18px;
        font-weight: bold;
        word-break: break-all;
    }

    .MuiCardContent-root {
        height: 80%;
        padding-top: 0px;
        .description {
            font-size: 14px;
            padding: 0 0 15px 0;
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 60%;
            padding: 5px;
        }
        .date-action {
            padding: 10px 5px;
            display: flex;
            height: 20%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            /*& div {
                flex: 50%;
            }*/
            & > div:last-of-type {
                display: flex;
                justify-content: flex-end;
            }
        }
        .dates {
            display: flex;
            @media only screen and (min-width: 768px) {
                flex-direction: row;
            }
            @media only screen and (max-width: 768px) {
                flex-direction: column;
            }
            label {
                color: var(--secondary-font-color);
                font-weight: bold;
                font-size: 14px;
            }
        }
    }

    .admin-action {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        .admin-action-btn {
            display: flex;
            justify-content: flex-end;
        }
        .dates {
            display: flex;
            flex-direction: column;
        }
    }
}
