.complaint-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

    margin-top: 15px;
    .complain-card {
        width: 32%;
        max-height: 250px;
        height: 250px;
        margin: 0px 15px 10px 0px;
        @media (max-width: 768px) {
            width: 100%;
            margin: 10px;
        }
    }
}

.complains {
    @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        .complain-card {
            margin: 0 15px;
            width: 33%;
        }
    }
    @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        .complain-card {
            margin: 15px 0;
            width: 100%;
        }
    }
}
