.container {
    margin: 0px 0px;

    @media only screen and (max-width: 768px) {
        padding: 55px 0 !important;
    }
    &.mainContainer {
        padding-bottom: 60px;

        @media only screen and (min-width: 768px) {
            padding-top: 225px;
        }
    }
    .MuiTabs-root {
        .MuiButtonBase-root {
            padding: 0px;
            margin-right: 20px;
            &.MuiTab-labelIcon {
                min-height: 50px;
            }
            &.MuiTab-labelIcon {
                .MuiTab-wrapper {
                    justify-content: space-between;
                    flex-direction: row-reverse;
                    color: var(--primary-font-color);
                    .count {
                        color: var(--font-white);
                        background: var(--primary-color);
                        width: auto;
                        min-width: 13px;
                        height: 25px;
                        text-align: center;
                        border-radius: 25px;
                        line-height: 27px;
                        padding: 0px 6px;
                        font-size: 14px;
                    }
                }
                &.Mui-selected {
                    .MuiTab-wrapper {
                        color: var(--secondary-font-color);
                        .count {
                            color: var(--font-white);
                            background: var(--primary-color);
                        }
                    }
                }
            }
            .MuiTab-wrapper {
                justify-content: flex-start;
                flex-direction: row;
                font-weight: bold;
                font-size: 22px;
                text-transform: capitalize;
            }
        }
    }
}
